{% extends 'base.html' %}

{% block title %} Home {% endblock %}


{% block body %}

<div class="my-5">

    <h1 class="text-center mb-5" style="color: rgb(0, 0, 0); margin-top: -40px;"> Change password</h1>

    <div class="container">
        <div class="row justify-content-center">
<div class="col-sm-5 " style="background-color: rgb(250, 219, 181); border-radius: 10px; margin-top: 20px; margin-top: -30px;">

    <form style="padding: 30px;" method="POST">
    
        {{ form.hidden_tag() }}

        <div class="mb-3">
            <label for="exampleInputEmail" class="form-label"> {{ form.current_password.label }}</label>
            {{ form.current_password (class="form-control me-2", placeholder="Current password") }}
        </div>

        <div class="mb-3">
            <label for="exampleInputEmail" class="form-label"> {{ form.new_password.label }}</label>
            {{ form.new_password (class="form-control me-2", placeholder="New password")}}
        </div>

        <div class="mb-3">
            <label for="exampleInputEmail" class="form-label"> {{ form.confirm_new_password.label }}</label>
            {{ form.confirm_new_password (class="form-control me-2", placeholder="Confirm new password")}}
        </div>

        <div class="d-grid">
        {{ form.change_password (class="btn btn-primary ", style="background-color: #06038d") | safe}}
        </div>
    
    </form>

</div>
</div>
</div>

</div>

{% endblock %}