{% extends 'base.html' %}

{% block title %} Update Shop Item {% endblock %}

{% block body %}

<style>
    .td{
        width: 120px;
    }
</style>

<div class="my-5">

    <h1 class="text-center mb-5" style="color: rgb(0, 0, 0); margin-top: -40px;"> Update items</h1>

<table class="table table-dark table-hover" style="margin-top: -30px;">
    <thead>
        <tr>
            <th scope="col">Product Name</th>
            <th scope="col">Previous Price</th>
            <th scope="col">Current Price</th>
            <th scope="col">In Stock</th>
            <th scope="col">Unit</th> <!-- unit -->
            <th scope="col">Small Unit</th> <!-- small -->
            <th scope="col">Picture</th>
            <th scope="col">Flash Sale</th>
            <th scope="col">Update</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <form class="td" id="updateForm" action="" method="POST" enctype="multipart/form-data">
                {{ form.hidden_tag() }}

                <td>{{ form.product_name }}</td>
                <td>{{ form.previous_price (class="td")}}</td>
                <td>{{ form.current_price (class="td")}}</td>
                <td>{{ form.in_stock (class="td")}}</td>

                <td>{{ form.unit_of_measurement }} </td> <!-- unit -->
                <td>{{ form.small_unit_of_measurement (class="td")}}</td> <!-- small -->

                <td>{{ form.product_picture() }}</td>
                <td>{{ form.flash_sale }}</td>
                <td>{{ form.update_product() }}</td>
            </form>
        </tr>
    </tbody>
</table>

</div>

<script>
    // Function to update the small unit field based on the selected unit
    function updateSmallUnit() {
        var unitField = document.getElementById('unit_of_measurement');
        var smallUnitField = document.getElementById('small_unit_of_measurement');
        
        var unitValue = unitField.value;
        var smallUnitValue = '';

        // Map unit values to corresponding small unit values
        if (unitValue === 'pieces') {
            smallUnitValue = 'Pcs';
        } else if (unitValue === 'kilos') {
            smallUnitValue = 'Kg';
        } else if (unitValue === 'liters') {
            smallUnitValue = 'L';
        }

        // Update the small unit field with the mapped value
        smallUnitField.value = smallUnitValue;
    }

    // Attach event listener to the unit field to trigger updateSmallUnit function
    document.getElementById('unit_of_measurement').addEventListener('change', updateSmallUnit);
    
    // Call updateSmallUnit function initially to set default small unit value
    updateSmallUnit();
</script>

{% endblock %}
